.venv
*.mp4
*.png
*.jpg
*.jpeg
*.gif
*.pdf
*.docx
*.xlsx
*.pptx
*.zip
*.tar.gz
*.log
*.tmp
*.bak
*.swp
*.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg
*.svg
*.tex
*.txt
*.json